.header {
  h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
    line-height: 0.8;
    color: var(--foreground);
    font-family: "seasons", serif;
  }
  p {
    font-size: 1rem;
    font-weight: 400;
  }
  margin-bottom: 1rem;
}

.footer {
  margin-top: 2rem;
}

.mainn {
  min-height: 83vh;
}
