.container {
  min-height: 100svh;
  // padding: ;
}

.name {
  margin-bottom: 1rem;
}

.main {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 2rem 0;
  img {
    margin: 1rem 0;
  }
  h3 {
    font-size: 1.75rem;
  }
  p {
    text-align: center;
    color: lightgrey;
  }
}
