.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 90%;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  @media (max-width: 650px) {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}
